

/* media queries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}
@media (max-width:768px) {
    
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(25px);
        box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
        transition: all 0.3s ease;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        color: white;
        transition: 2s ;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: #eee;
        display: block;
        margin: 1.5rem; padding: .5rem;
        font-size: 2rem;
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
        

    }

    .header .search-form {
        width: 90%;
        right: 2rem;
        
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }



}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .header {
        padding: 1.5rem 2rem;
    }
 }

